.cv{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}
.navbar{
    position: fixed;
    top: 0;
    background-color: #e7d9e1;
    width: 100%;
    height: 4em;
}
.logo{
    margin-right: auto;
}